apiVersion: v1
kind: Service
metadata:
  name: sqrt-service
spec:
  selector:
    app: sqrt
  ports:
  - port: 80           # clusterâ€IP port
    targetPort: 5051   # container port
  type: ClusterIP
